@font-face {
  font-family: "Pill Gothic 300 Bold";
  src: url("fonts/PillGothic300mg-Bold.ttf");
}

@font-face {
  font-family: "Pill Gothic 300 Light";
  src: url("fonts/PillGothic300mg-Light.ttf");
}

@font-face {
  font-family: "Pill Gothic 300 Regular";
  src: url("fonts/PillGothic300mg-Regular.ttf");
}

@font-face {
  font-family: "Pill Gothic 300 Semi Bold";
  src: url("fonts/PillGothic300mg-Semibd.ttf");
}

@font-face {
  font-family: "Pill Gothic 300 Semi Thin";
  src: url("fonts/PillGothic300mg-Thin.ttf");
}

/* line 48, ../sass/global.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: none;
}

/* line 52, ../sass/global.scss */
.navbar-default {
  background: #079d9e;
  border: none !important;
  height: 100px;
}
/* line 56, ../sass/global.scss */
.navbar-default .brand {
  background: none;
  padding: 0;
}

/* line 62, ../sass/global.scss */
.navbar-nav {
  font-family: "Pill Gothic 300 Regular";
  width: 960px;
}
/* line 65, ../sass/global.scss */
.navbar-nav li.active {
  margin-right: 20px;
}
/* line 68, ../sass/global.scss */
.navbar-nav .menu-item {
  position: relative;
  top: 10px;
  margin-right: 7px;
  font-size: 1.1em;
}
/* line 73, ../sass/global.scss */
.navbar-nav .menu-item .divider-vertical {
  font-size: 2em;
  color: #FFF;
  padding-top: 8px;
  display: block;
  color: #f6c13d;
}
/* line 80, ../sass/global.scss */
.navbar-nav .menu-item a {
  padding: 7px;
}
/* line 83, ../sass/global.scss */
.navbar-nav .menu-item .social {
  width: 82px;
  height: 70px;
  padding: 5px;
  text-align: center;
  font-size: 1em;
}
/* line 89, ../sass/global.scss */
.navbar-nav .menu-item .social .center {
  width: 62px;
  float: left;
  margin-left: 7px;
}
/* line 93, ../sass/global.scss */
.navbar-nav .menu-item .social .center .facebook {
  display: block;
  width: 30px;
  height: 25px;
  background: url('../img/facebook_bt.png?1381153714') no-repeat;
}
/* line 99, ../sass/global.scss */
.navbar-nav .menu-item .social .center .twitter {
  display: block;
  width: 30px;
  height: 25px;
  background: url('../img/twitter_bt.png?1381153714') no-repeat;
}
/* line 106, ../sass/global.scss */
.navbar-nav .menu-item .social .tel {
  color: white;
  font-size: 0.8em;
  float: left;
}
/* line 110, ../sass/global.scss */
.navbar-nav .menu-item .social .tel p {
  color: #f6c13d;
}

/* line 116, ../sass/global.scss */
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

/* line 122, ../sass/global.scss */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #079d9e;
  color: #f6c13d;
}

/* line 129, ../sass/global.scss */
.navbar-nav li .dropdown-menu {
  background-color: rgba(253, 190, 33, 0.8);
}
/* line 134, ../sass/global.scss */
.navbar-nav li.menu-item:last-child {
  float: right;
}

/* line 141, ../sass/global.scss */
.dropdown-menu {
  left: 10px;
}
/* line 143, ../sass/global.scss */
.dropdown-menu .divider {
  margin: 0;
  background: none;
  padding-top: 4px;
  border-bottom: 2px dotted #FFF;
}
/* line 149, ../sass/global.scss */
.dropdown-menu li > a {
  text-transform: uppercase;
  font-size: 0.9em;
  padding-left: 5px;
}
/* line 153, ../sass/global.scss */
.dropdown-menu li > a:hover {
  background: none;
  color: #079d9e;
}

/* line 160, ../sass/global.scss */
.main-container {
  max-width: 960px;
}
/* line 162, ../sass/global.scss */
.main-container h1 {
  color: #079d9e;
  text-transform: uppercase;
  font-family: "Pill Gothic 300 Bold";
  font-size: 1.3em;
  margin: 0 0 15px 0;
  padding: 10px 0 10px 0;
  background: url('../img/separator_yellow.png?1381153714') repeat-x 0 35px;
}
