/* Sticky footer styles
-------------------------------------------------- */
/* line 7, ../sass/sticky-footer-navbar.scss */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
/* line 13, ../sass/sticky-footer-navbar.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  border: 1px solid white;
}

/* Set the fixed height of the footer here */
/* line 25, ../sass/sticky-footer-navbar.scss */
#footer {
  height: 225px;
  background-color: #fdb813;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* line 35, ../sass/sticky-footer-navbar.scss */
#wrap > .container {
  padding: 100px 15px 0;
}

/* line 38, ../sass/sticky-footer-navbar.scss */
.container .credit {
  margin: 20px 0;
}

/* line 42, ../sass/sticky-footer-navbar.scss */
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 47, ../sass/sticky-footer-navbar.scss */
code {
  font-size: 80%;
}
