
$amarelo_titulo: #F6C13D;
$verde_navbar: #079D9E;
$verde_borda_input: #079AA1;
$cinza: #78797B;
$cinza_texto: #858688;

@font-face {
    font-family: "Pill Gothic 300 Bold";
    src: url("fonts/PillGothic300mg-Bold.ttf");
}

@font-face {
    font-family: "Pill Gothic 300 Light";
    src: url("fonts/PillGothic300mg-Light.ttf");
}

@font-face {
    font-family: "Pill Gothic 300 Regular";
    src: url("fonts/PillGothic300mg-Regular.ttf");
}

@font-face {
    font-family: "Pill Gothic 300 Semi Bold";
    src: url("fonts/PillGothic300mg-Semibd.ttf");
}

@font-face {
    font-family: "Pill Gothic 300 Semi Thin";
    src: url("fonts/PillGothic300mg-Thin.ttf");
}

@mixin border($type, $pos) {
    @if($type == green) {
        background: image-url("separator_green.png") repeat-y $pos 0; 
    }
    
    @if($type == yellow) {
        background: image-url("separator_yellow.png") repeat-y $pos 0; 
        
    }
}

@mixin border_horz($pos) {
    background: image-url("separator_yellow.png") repeat-x 0 $pos; 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { 
    background: none
}

.navbar-default { 
    background: $verde_navbar;
    border: none !important;
    height: 100px;
    .brand {
        background: none;
        padding: 0
    }
}

.navbar-nav {
    font-family: "Pill Gothic 300 Regular";
    width: 960px;
    li.active {
        margin-right: 20px;
    }
    .menu-item {
        position: relative;
        top: 10px;
        margin-right: 7px;
        font-size: 1.1em;
        .divider-vertical {
            font-size: 2em;
            color: #FFF;
            padding-top: 8px;
            display: block;
            color: $amarelo_titulo;
        }
        a {
           padding: 7px
        }
        .social {
            width: 82px; 
            height: 70px; 
            padding: 5px;
            text-align: center;
            font-size: 1em;
            .center {
                width: 62px;
                float: left;
                margin-left: 7px;
                .facebook {
                    display: block; 
                    width: 30px; 
                    height: 25px; 
                    background: image-url("facebook_bt.png") no-repeat;
                }
                .twitter {
                    display: block; 
                    width: 30px; 
                    height: 25px; 
                    background: image-url("twitter_bt.png") no-repeat;
                }
            }
            .tel {
                color: white;
                font-size: 0.8em;
                float: left;
                p {color: $amarelo_titulo;}
            }
        }
    }
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: $verde_navbar;
    color: $amarelo_titulo;
}

.navbar-nav {
    li {        
        .dropdown-menu {
            background-color:  rgba(253, 190, 33, .8);
        }
        
        &.menu-item {
            &:last-child {
                float: right;
            }
        }
    }
}

.dropdown-menu {
    left: 10px;
    .divider {
        margin: 0;
        background: none;
        padding-top: 4px;
        border-bottom: 2px dotted #FFF;
    }
    li > a {
        text-transform: uppercase;
        font-size: 0.9em;
        padding-left: 5px;
        &:hover {
            background: none;
            color: $verde_navbar;
        }
    }
}

.main-container {
    max-width: 960px;
    h1 {
        color: $verde_navbar;
        text-transform: uppercase;
        font-family: "Pill Gothic 300 Bold";
        font-size: 1.3em;
        margin: 0 0 15px 0;
        padding: 10px 0 10px 0;
        @include border_horz(35px);
    }
}