@import "global";
/* pager */
.round-pager { 
    text-align: right; 
    width: 100%; 
    z-index: 500; 
    position: absolute; 
    top: 420px;
    overflow: hidden;
    padding: 20px;
}
.round-pager span { 
    font-family: arial; 
    font-size: 18px; 
    width: 10px; 
    height: 10px; 
    cursor: pointer;
    padding: 10px 10px 10px 10px ;
    background: image-url("bullets.png") 0 5px no-repeat;
    a {
        color: $amarelo_titulo;       
    }
}
.round-pager span.cycle-pager-active { 
    background: image-url("bullets.png") -40px 5px no-repeat;
    a {
        color: $verde_navbar;
    }

}
.round-pager > * { cursor: pointer;}
