<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Patio Alcântara</title>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/sticky-footer-navbar.css" rel="stylesheet">
        <link href="css/pager-slideshow.css" rel="stylesheet">

        <script src="js/jquery-1.10.1.min.js"></script>
        <script src="http://malsup.github.com/jquery.cycle2.js"></script>
    </head>

    <body class="page-front">

        <!-- Wrap all page content here -->
        <div id="wrap">

            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container fixed-container">
                    <ul class="nav navbar-nav">
                        <li class="active"><a class="brand" href="index.html"><img src="img/logo.jpg"></a></li>
                        <li class="dropdown menu-item">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">O Shopping</a>
                            <ul class="dropdown-menu">
                                <li><a href="institucional.html">Institucional</a></li>
                                <li class="divider"></li>
                                <li><a href="empreendedor.html">Empreendedor</a></li>
                                <li class="divider"></li>
                                <li><a href="ficha-tecnica.html">Ficha técnica</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><span class="divider-vertical">.</span></li>
                        <li class="menu-item"><a href="terminal.html">Terminal</a></li>
                        <li class="menu-item"><span class="divider-vertical">.</span></li>
                        <li class="menu-item"><a href="lojas.html">Lojas</a></li>
                        <li class="menu-item"><span class="divider-vertical">.</span></li>

                        <li class="dropdown menu-item">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fique por Dentro</a>
                            <ul class="dropdown-menu">
                                <li><a href="eventos.html">Eventos</a></li>
                                <li class="divider"></li>
                                <li><a href="novidades.html">Novidades</a></li>
                            </ul>
                        </li>

                        <li class="menu-item"><span class="divider-vertical">.</span></li>
                        <li class="menu-item"><a href="comercializacao.html">Comercialização</a></li>
                        <li class="menu-item"><span class="divider-vertical">.</span></li>

                        <li class="dropdown menu-item">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contato</a>
                            <ul class="dropdown-menu">
                                <li><a href="cadastro.html">Cadastro de Clientes</a></li>
                                <li class="divider"></li>
                                <li><a href="fale-conosco.html">Fale Conosco</a></li>
                                <li class="divider"></li>
                                <li><a href="informacoes.html">Informaçōes</a></li>
                                <li class="divider"></li>
                                <li><a href="trabalhe-conosco.html">Trabalhe Conosco</a></li>
                            </ul>
                        </li>

                        <li class="menu-item">
                            <div class="social">
                                <div class="center">
                                    <a href="#" class="pull-left facebook"></a>
                                    <a href="#" class="pull-left twitter"></a>
                                </div>
                                <div class="tel">   
                                    TEL COMERCIAL
                                    <p>0000-0000</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <!-- Begin conteudo da pagina -->
            <div class="container fixed-container main-container">
                <!-- Begin slideshow -->
                <div class="row banner">
                    <div class="col-md-12">
                        <div class="cycle-slideshow" 
                             data-cycle-pager="#round-pager" 
                             data-cycle-pager-template="<span><a href=#> {{slideNum}} </a></span>">

                            <!-- Begin imagens Slideshow -->
                            <img src="img/banner_1.jpg" />
                            <img src="img/banner_2.jpg" />
                            <img src="http://placehold.it/960x485">
                            <div id="round-pager" class="round-pager"></div>
                            <!-- End imagens slideshow -->

                        </div>
                    </div>
                </div>
                <!-- End slideshow -->

                <!-- Begin conteudo principal -->
                <div class="row main-content">

                    <div class="col-md-4">
                        <h3>Destaque</h3>
                        <div class="border-right">
                            <img src="img/destaque_1.jpg" />
                        </div>
                    </div>

                    <div class="col-md-5">
                        <h3>Novidades</h3>
                        <table>
                            <tr>
                                <td>
                                    Linha 412 tem nova rota e ponto final será no Pátio Alcântara
                                    <a href="#" class="more">Saiba mais</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Pão de queijo quentinho: Rei do Mate abre loja no 2º piso
                                    <a href="#" class="more">Saiba mais</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    15/09 - Coquetel de inauguração da loja Sonho dos Pés
                                    <a href="#" class="more">Saiba mais</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Grupo de dança "No Ritmo" se apresenta às quartas no 1 piso
                                    <a href="#" class="more">Saiba mais</a>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="col-md-3">
                        <div style="position: relative">
                            <h3>Buscar por lojas</h3>
                            <div class="select_especial"></div>
                            <div class="select_button"></div>
                        </div>
                    </div>

                </div>
                <!-- End conteudo principal -->
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div><strong>Praça Carlos Gianelli, sem número - Alcântara - São Gonçalo - RJ - CEP 24710-465</strong></div>
                        <ol class="breadcrumb">
                            <li><a href="#">O Shopping</a></li>
                            <li><a href="#">Lojas</a></li>
                            <li><a href="#">Fique por dentro</a></li>
                            <li><a href="#">Comercialização</a></li>
                            <li><a href="#">Contato</a></li>
                        </ol>
                    </div>

                    <div class="col-md-3">
                        <div>
                            <strong>Horário de Funcionamento</strong>
                        </div>

                        <ul>
                            <li>Segunda-feira a sábado: 10 às 22h</li>
                            <li>Alimentação: das 10 às 23h</li>
                            <li class="spacer"></li>
                            <li>Domingos: das 13 às 21hs</li>
                            <li>Feriados: das 15 às 21hs</li>
                            <li>Alimentação: das 11 às 22hs</li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <div><strong>Atendimento</strong></div>            
                    </div>

                    <div class="col-md-2 last">

                    </div>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Developed by SIDES</p>
                    </div>
                </div>    
            </div>
        </div>
        <!-- Bootstrap core JavaScript -->

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
